# build directories.
build/
build-win32/

# Waf files/folders
.waf-*
.lock-*

# Binary.
Ricin

# AStyle orig files.
*.orig

# gdb logs.
.gdb_history

# this is a vala project.
*.c

# Glade stupid temp files.
*.ui~
*.ui#
