@define-color main_dark @ui_dark;
@define-color main_ddark #292929;
@define-color main_ddark_hover #343434;
@define-color main_grey #303030;
@define-color main_blue #2283d7;

@define-color text_color #e2e2e2;
@define-color text_color_hover #aca8a8;
@define-color text_copy #7a7a7a;

@define-color gtk_box #343434;

@define-color ui_green   #2ecc71;
@define-color ui_greener #27ae60;

@define-color ui_darker #E0E0E0;
@define-color ui_dark   #F0F0F0;
@define-color ui_main   #FFFFFF;
@define-color ui_text   #000000;
@define-color selected_text_color #5688F9;
@define-color ui_system_color #2a92c6;

@define-color plain_color @ui_text;
@define-color quote_color @ui_green;

@import url("app.css");

RicinSettingsView combobox,
RicinSettingsView entry,
RicinSettingsView button {
  color: @ui_text;
}

RicinQuoteMessageListRow listbox RicinPlainLabel {
  border-left: 5px solid @plain_color;
  padding: 0 10px 0 5px;
}
RicinQuoteMessageListRow listbox RicinQuoteLabel {
  border-left: 5px solid @quote_color;
  padding: 0 7px 0 5px;
}
