/**
* NOTE: This file isn't a file theme, it's a base theme.
*       To make a theme please create a new file and copy the default file then
*       do want u want. :)
**/

/** GTK reset **/
* {
  -GtkPaned-handle-size: 0;
}

GtkEntry,
GtkEntry:focus,
GtkComboBox,
GtkComboBoxText,
GtkButton,
GtkToggleButton,
GtkImage,
GtkSwitch
{
	border: none;
	border-width: 0;
	border-image: none;
	border-style: none;
	border-radius: 0;

	box-shadow: none;
	text-shadow: none;
}

GtkSwitch.trough:active {

}

GtkSwitch.trough:insensitive {
    background-image: none;
}

GtkSwitch.trough:backdrop {

}

GtkSwitch.trough:active:backdrop {

}

GtkSwitch.trough:insensitive:backdrop {

}

GtkSwitch.slider {
    background: #222;
}

.primary-toolbar GtkSwitch.slider {
}

GtkSwitch.slider:insensitive {
    background-image: none;
    box-shadow: none;
}

GtkSwitch.slider:backdrop {
    background-image: none;
    box-shadow: none;
}

GtkSwitch.slider:insensitive:backdrop {
}

/** CSS overrides. **/
.quote-bar {
  color: #2ECC71;
  padding: 0 1px;
}

RicinProfileChooser {
  background-color: @ui_dark;
  color: @ui_text;
}

RicinProfileChooser .notebook {
  background-color: @ui_darker;
}

RicinProfileChooser .notebook GtkBox.vertical {
  background-color: @ui_main;
}

RicinProfileChooser .notebook .button {
  border-image: none;
  border-radius: 0;
  border-image-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  box-shadow: none;
  outline-width: 0;
  text-shadow: none;

  background-image: none;
  background-color: @ui_darker;
  color: @ui_text;
}

RicinProfileChooser .notebook .button:hover {
  border-image: none;
  border-radius: 0;
  border-image-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  box-shadow: none;
  outline-width: 0;
  background-image: none;

  background-color: @ui_dark;
  color: @ui_text;
}

RicinProfileChooser .notebook .entry {
  border-image: none;
  border-radius: 0;
  border-image-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  box-shadow: none;
  outline-width: 0;
  text-shadow: none;

  background-image: none;
  background-color: @ui_darker;
  color: @ui_text;
}

RicinProfileChooser .notebook .entry:hover {
  background-color: @ui_main;
}

GtkLabel.info-message {
    color: #2a92c6;
}

.ricin-navigation {
  background-color: @ui_dark;
}

GtkStack,
GtkNotebook,
RicinSettingsView {
  border-image: none;
  border-radius: 0;
  border-image-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  box-shadow: none;
  outline-width: 0;

  color: @ui_text;
}

RicinSettingsView {
  background-color: @ui_darker;
}

.settings {
  background-color: @ui_darker;
  color: @ui_text;
}

GtkBox,
GtkRevealer
GtkPaned,
GtkViewport,
RicinFriendListRow,
RicinMainWindow,
GtkScrolledWindow {
  border-image: none;
  border-image-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  box-shadow: none;
  outline-width: 0;
}

.box-search {
  background-color: @ui_darker;
}
.box-search GtkSearchEntry {
	background-color: transparent;
	background-image: none;
	border: none;
	border-image: none;
	border-radius: 0;
	color: @ui_text;
}
.box-search GtkSearchEntry:selected {
    background-color: #5688f9;
}
.box-search GtkToggleButton {
	background-color: transparent;
	background-image: none;
	border: none;
	border-image: none;
	border-radius: 0;
	color: @ui_text;
}

.secondary-background {
  background-color: @ui_main;
}

.secondary-background GtkEntry,
.secondary-background GtkButton {
  border-image: none;
  background-image: none;
  background-color: @ui_dark;
}

.secondary-background GtkEntry:hover,
.secondary-background GtkEntry:active,
.secondary-background GtkButton:hover {
  border-image: none;
  border-radius: 0;
  background-image: none;
  background-color: @ui_darker;
}

.secondary-background .notebook {
  background-color: @ui_darker;
}

.secondary-background .notebook GtkBox,
.secondary-background .notebook GtkGrid {
    padding: 0 50px;
}

.secondary-background .notebook GtkButton {
    background-color: @ui_darker;
    background-image: none;
    border: none;
    border-image: none;
    padding: 40px 0;
    color: @ui_text;
    /*margin: 5px 10px;*/
}

.secondary-background .notebook .button GtkLabel {
    background-color: transparent;
    background: transparent;
    background-image: none;
}

.secondary-background .notebook .button {
    border: none;
    border-width: 0;
    border-image: none;
}

.secondary-background .notebook .button:hover,
.secondary-background .notebook .button:prelight {
    transition: 150ms ease-in-out;
    background-image: none;
    background: @main_ddark_hover;
    background-color: @main_ddark_hover;
}

.secondary-background .notebook .entry {
    background: @main_dark;
    color: @main_blue;
}

.secondary-background .notebook GtkLabel {
    color: @text_color;
    background-color: @gtk_box;
}

.secondary-background .notebook {
    border-radius: 0;

    background-color: @ui_main;

    -GtkNotebook-tab-overlap: 3;
    -GtkNotebook-tab-curvature: 2;
}

.notebook-buttons,
.notebook-buttons GtkButton {
  background-color: @ui_darker;
  color: @ui_text;
}

.notebook-buttons GtkButton:hover {
  background-color: @ui_dark;
  color: @ui_text;
}

.friend-infos {
  background-color: @ui_dark;
  color: @ui_text;
}
.user-infos {
  background-color: @ui_darker;
  color: @ui_text;
}

.ricin-navigation .user-infos GtkEntry {
  background-color: @ui_darker;
}
.ricin-navigation .user-infos GtkEntry:hover,
.ricin-navigation .user-infos GtkEntry:active {
  background-color: @ui_main;
}

.button-dark {
  border-image: none;
  border-radius: 0;
  border-image-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  box-shadow: none;
  outline-width: 0;
  text-shadow: none;

  background-image: none;
  background-color: @ui_darker;
  color: @ui_text;
}
.button-dark:hover {
  border-image: none;
  border-radius: 0;
  border-image-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  box-shadow: none;
  outline-width: 0;
  background-image: none;

  background-color: @ui_dark;
  color: @ui_text;
}

.button-text-fix {
  color: @ui_text;
}
.button-inverted:hover {
  background-color: @ui_main;
}

.entry-inverted {
  border-image: none;
  border-radius: 0;
  border-image-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  box-shadow: none;
  outline-width: 0;
  text-shadow: none;

  background-image: none;
  background-color: @ui_darker;
  color: @ui_text;
}
.entry-inverted:selected {
    background-color: @selected_text_color;
}
.entry-inverted:hover {
  background-color: @ui_main;
}

.friendlist {
  background-color: @ui_dark;
  color: @ui_text;
  border-image: none;
  border: none;
}

.friendlist-notify {
  background-color: #1565c4;
}

.friendlist-notify GtkButton,
.friendlist-notify .close-button {
  border-radius: 360px;
  background-color: white;
  color: #1565c4;
}
.friendlist-notify GtkButton,
.friendlist-notify .close-button:hover {
  border-radius: 360px;
  background-color: rgb(205, 209, 204);
  color: rgb(135, 135, 135);
}

.message-list {
  outline-width: 0;
}

.message-list GtkLabel {
  color: @ui_text;
}

.entry-principal {
	background-image: none;
	border-image: none;

	background-color: @ui_darker;
	border: none;
	border-radius: 0;

  color: @ui_text;
}
.entry-principal:selected,
.entry-principal:selected:backdrop {
	background-color: @selected_text_color;
}

.entry-chat {
	border: none;
	border-radius: 0;
 	background-image: none;
	border-image: none;
 	box-shadow: none;
 	outline-width: 0;
	background-color: @ui_darker;
 	color: @ui_text;
}
.entry-chat:selected {
	background-color: @selected_text_color;
}

.friendlist-row {
  background-color: @ui_dark;
  color: @ui_text;
}

.friendlist-row:active,
.friendlist-row:selected {
  background-color: @ui_main;
  color: @ui_text;
}

.ricin-content {
  background-color: @ui_main;
}

.ricin-content .message-list {
  background-color: @ui_main;
}

.ricin-content .message-list .message {
  background-color: @ui_main;
}

.image-desc {
  background-color: #21252B;
  padding: 5px 5px 5px 5px;
}

.btn-save-image {
  background-image: none;
  background-color: #21252B;
  border: none;
  border-radius: 0;
  color: white;
}

.btn-save-image:hover, .btn-save-image:insensitive {
  background-image: none;
  background-color: #292D35;
  border: none;
  border-radius: 0;
  color: white;
}

.progress-bg {
  background-color: #2ecc71;
}
.progress-bg GtkLabel {
  color: black;
}
.progress-fg {
  background-color: #27ae60;
}

/**
* CANCELED FILE
**/

.canceled-file {
  background-color: #c0392b;
  color: white;
}

.canceled-file .label_file_name {
  color: white;
}

.canceled-file .btn-save-image,
.canceled-file .btn-save-image :insensitive {
  background-color: #e74c3c;
}

/**
* SAVED FILE
**/

.saved-file {
  background-color: #27ae60;
  color: white;
}

.saved-file .label_file_name {
  color: white;
}

.saved-file .btn-save-image,
.saved-file .btn-save-image:insensitive {
  background-color: #2ecc71;
}

/** Faux offline message **/
.chatview-notify-bar {
  background-color: #3498DB;
}
.chatview-notify-bar GtkButton:hover {
  background-color: #2980B9;
}

/** Friend request widget **/
.friend-request {
  background-color: #2c9f42;
  color: @ui_text;
}
.friend-request GtkButton { background-color: #2c9f42; }
.friend-request GtkButton:hover {
  background-color: #237f35;
  color: @ui_text;
}
