@define-color main_dark @ui_dark;
@define-color main_ddark #292929;
@define-color main_ddark_hover #343434;
@define-color main_grey #949494;
@define-color main_blue #2283d7;

@define-color text_color #e2e2e2;
@define-color text_color_hover #aca8a8;
@define-color text_copy #7a7a7a;

@define-color gtk_box #343434;

@define-color ui_green   #2ecc71;
@define-color ui_greener #27ae60;

@define-color ui_darker #171717;
@define-color ui_dark   #222222;
@define-color ui_main   #333333;
@define-color ui_text   #FFFFFF;
@define-color selected_text_color #5688F9;
@define-color ui_system_color #2a92c6;

/** Non standard Ricin colors names, only used for this theme. */
@define-color quote_background #444444;
@define-color quote_text @ui_text;
@define-color quote_plain_color @main_grey;

@import url("app.css");

RicinQuoteMessageListRow GtkSpinner,
RicinMessageListRow GtkSpinner,
RicinQuoteMessageListRow GtkLabel,
RicinMessageListRow GtkLabel {
  padding: 5px;
}

RicinSystemMessageListRow GtkLabel,
RicinQuoteMessageListRow GtkListBox,
RicinMessageListRow GtkLabel:nth-child(2) {
  padding: 3px 6px;
  background-color: @ui_dark;
  color: @ui_text;
  border-radius: 5px;
}

RicinQuoteMessageListRow GtkLabel {
  padding: 0 5px;
}

RicinQuoteMessageListRow GtkListBox {
  padding: 0 10px;
}

RicinQuoteMessageListRow GtkListBox RicinPlainLabel,
RicinQuoteMessageListRow GtkListBox RicinQuoteLabel {
  background: @quote_background;
  border-left: 5px solid @ui_green;

  border-top-left-radius:     0px;
  border-bottom-left-radius:  0px;
  border-top-right-radius:    0px;
  border-bottom-right-radius: 0px;
}
RicinQuoteMessageListRow GtkListBox:nth-child(1) {
  border-top-left-radius:     5px;
  border-top-right-radius:    5px;
}
RicinQuoteMessageListRow GtkListBox:nth-last-child(-n+1) {
  border-bottom-left-radius:  5px;
  border-bottom-right-radius: 5px;
}

RicinQuoteMessageListRow GtkListBox RicinPlainLabel {
  border-left: 5px solid @quote_plain_color;
  padding: 0 7px 0 5px;
}
RicinQuoteMessageListRow GtkListBox RicinPlainLabel {
  color: @quote_plain_color;
  padding: 5px;
}

RicinSystemMessageListRow GtkLabel {
  border-radius: 50px;
}
