@define-color main_dark @ui_dark;

@define-color main_ddark #292929;
@define-color main_ddark_hover #343434;

@define-color main_grey #303030;
@define-color main_blue #2283d7;

@define-color text_color #e2e2e2;
@define-color text_color_hover #aca8a8;
@define-color text_copy #7a7a7a;

@define-color gtk_box #343434;

@define-color ui_darker #171717;
@define-color ui_dark   #222222;
@define-color ui_main   #333333;
@define-color ui_text   #FFFFFF;
@define-color selected_text_color #5688F9;

@import url("app.css");

span {
  background-image: url("../images/status/online.png");
}
