GtkLabel.info-message {
    color: @theme_selected_bg_color;
}

.ricin-navigation {
  background-color: #222222;
}

RicinSettingsView {
  background-image: none;
  border-image-width: 0 0 0 0;
  border-image: none;
  border: none;
}

.secondary-background {
  background-color: #333333;
}

.secondary-background GtkEntry,
.secondary-background GtkButton {
  border-image: none;
  background-image: none;
  background-color: #222222;
}

.secondary-background GtkEntry:hover,
.secondary-background GtkEntry:active,
.secondary-background GtkButton:hover {
  border-image: none;
  border-radius: 0;
  background-image: none;
  background-color: #171717;
}

.secondary-background .notebook GtkBox,
.secondary-background .notebook GtkGrid {
    background-color: @gtk_box;
    padding: 0 50px;
}

.secondary-background .notebook GtkButton {
    background-color: #222;
    background-image: none;
    border: none;
    border-image: none;
    padding: 20px 0;
    /*margin: 5px 10px;*/
}

.secondary-background .notebook .button GtkLabel {
    background-color: transparent;
    background: transparent;
    background-image: none;
}

.secondary-background .notebook .button {
    border: none;
    border-width: 0;
    border-image: none;
}

.secondary-background .notebook .button:hover,
.secondary-background .notebook .button:prelight {
    transition: 150ms ease-in-out;
    background-image: none;
    background: @main_ddark_hover;
    background-color: @main_ddark_hover;
}

.secondary-background .notebook .entry {
    background: @main_dark;
    color: @main_blue;
}

.secondary-background .notebook GtkLabel {
    color: @text_color;
    background-color: @gtk_box;
}

.secondary-background .notebook {
    padding: 1px;

    border-color: @main_ddark;
    border-style: solid;
    border-width: 1px;
    border-radius: 0;

    background-color: @main_ddark;

    -GtkNotebook-tab-overlap: 3;
    -GtkNotebook-tab-curvature: 2;
}

.secondary-background .notebook tab:nth-child(first) {
    margin-top: 3px;
}

.secondary-background .notebook tab {
    padding: 10px 50px;
    background-image: none;
    -adwaita-focus-border-radius: 4;
    color: @text_color;
    background-color: @main_ddark;
    border-color: @main_ddark;
}

.secondary-background .notebook tab:hover,
.secondary-background .notebook tab:prelight {
    transition: 5000ms ease-in-out;
    background-image: none;
    background: @main_ddark_hover;
    background-color: @main_ddark_hover;
    border-color: @main_ddark_hover;
    /*border-left: 2px solid @main_blue;*/
}

.secondary-background .notebook tab:active {
    background-color: @main_ddark_hover;
    border-color: @main_ddark_hover;
    border-left: 2px solid @main_blue;
}

.secondary-background .notebook tab GtkLabel {
    background-color: transparent;
    background: transparent;
    background-image: none;
}

.friend-infos {
  background-color: #222222;
}
.user-infos {
  background-color: #171717;
}

.ricin-navigation .user-infos GtkEntry {
  background-color: #171717;
}
.ricin-navigation .user-infos GtkEntry:hover,
.ricin-navigation .user-infos GtkEntry:active {
  background-color: #333333;
}

.button-dark {
  border-image: none;
  border-radius: 0;
  background-image: none;
  background-color: #171717;
}
.button-dark:hover {
  border-image: none;
  border-radius: 0;
  background-image: none;
  background-color: #222222;
}

.friendlist {
  background-color: #222222;
  border-image: none;
  border: none;
}

.friendlist-notify {
  background-color: #1565c4;
}

.friendlist-notify GtkButton,
.friendlist-notify .close-button {
  border-radius: 360;
  background-color: white;
  color: #1565c4;
}
.friendlist-notify GtkButton,
.friendlist-notify .close-button:hover {
  border-radius: 360;
  background-color: rgb(205, 209, 204);
  color: rgb(135, 135, 135);
}

.entry-principal {
	background-image: none;
	border-image: none;

	background-color: #222222;
	border: none;
	border-radius: 0;
}

.entry-chat {
  background-image: none;
	border-image: none;

	background-color: #171717;
	border: none;
	border-radius: 0;
}

.friendlist-row {
  background-color: #222222;
}

.friendlist-row:active,
.friendlist-row:selected {
  background-color: #333333;
}

.ricin-content {
  background-color: #333333;
}

.ricin-content .message-list {
  background-color: #333333;
}

.ricin-content .message-list .message {
  background-color: #333333;
}

.image-desc {
  background-color: #21252B;
  padding: 5px 5px 5px 5px;
}

.btn-save-image {
  background-image: none;
  background-color: #21252B;
  border: none;
  border-radius: 0;
  color: white;
}

.btn-save-image:hover, .btn-save-image:insensitive {
  background-image: none;
  background-color: #292D35;
  border: none;
  border-radius: 0;
  color: white;
}

.progress-bg {
  background-color: #2ecc71;
}
.progress-bg GtkLabel {
  color: black;
}
.progress-fg {
  background-color: #27ae60;
}

/**
* CANCELED FILE
**/

.canceled-file {
  background-color: #c0392b;
  color: white;
}

.canceled-file .label_file_name {
  color: white;
}

.canceled-file .btn-save-image,
.canceled-file .btn-save-image :insensitive {
  background-color: #e74c3c;
}

/**
* SAVED FILE
**/

.saved-file {
  background-color: #27ae60;
  color: white;
}

.saved-file .label_file_name {
  color: white;
}

.saved-file .btn-save-image,
.saved-file .btn-save-image:insensitive {
  background-color: #2ecc71;
}
