GtkLabel.info-message {
    color: @theme_selected_bg_color;
}

.image-desc {
  background-color: #21252B;
  padding: 5px 5px 5px 5px;
}

.btn-save-image {
  background-image: none;
  background-color: #21252B;
  border: none;
  border-radius: 0;
  color: white;
}

.btn-save-image:hover, .btn-save-image:insensitive {
  background-image: none;
  background-color: #292D35;
  border: none;
  border-radius: 0;
  color: white;
}
