@define-color blue_primary #2a92c6;
@define-color green_primary #2ECC71;
@define-color white_primary #FFFFFF;

@define-color badge_color @blue_primary;
@define-color links_color @blue_primary;
@define-color quote_border @green_primary;
@define-color plain_border @white_primary;
@define-color selected_color @blue_primary;

.badge {
  background-color: @badge_color;
  color: @white_primary;
  border-radius: 0px;
  padding: 3px 5px;
  font-size: 7px;
}

*:link {
  color: @link_color;
}

.box-search GtkSearchEntry,
.box-search GtkToggleButton {
  border-radius: 0;
}

.quotes-listbox {
  background: none;
  background-image: none;
}
.quote-container {
  border-left: 4px solid @quote_border;
}
.plain-container {
  border-left: 4px solid @plain_border;
}

.message-list .activatable:selected *,
.message-list .activatable:selected,
:selected:not(.friendlist-row),
.entry:selected {
  color: @white_primary;
  background-color: @selected_color;
  outline: none;
}
.message-list .activatable {
  outline: none;
}

.info-message {
  color: @selected_color;
}
