@define-color main_dark @ui_dark;

@define-color main_ddark #292929;
@define-color main_ddark_hover #343434;

@define-color main_grey #303030;
@define-color main_blue #2283d7;

@define-color text_color #e2e2e2;
@define-color text_color_hover #aca8a8;
@define-color text_copy #7a7a7a;

@define-color gtk_box #343434;

@define-color ui_darker #E0E0E0;
@define-color ui_dark   #F0F0F0;
@define-color ui_main   #FFFFFF;
@define-color ui_text   #000000;
@define-color selected_text_color #5688F9;

@import url("app.css");

RicinSettingsView GtkComboBoxText,
RicinSettingsView GtkEntry,
RicinSettingsView GtkButton {
  color: @ui_text;
}
