{% extends '_base.html' %}
{% block title %}Downloads{% endblock %}
{% block content %}
<section id="app--infos">
  <section id="infos--download-linux">
    <div id="linux">
      <header id="infos--header">
        <h1>GNU/Linux downloads</h1>
      </header>
      <section id="infos--content">
        <div id="content--text">
          <p>
            TEST DU TURFU FDP.
          </p>
        </div>
        <aside id="content--extra">
          <span class="icon ic-linux" style="font-size: 90px;"></span>
        </aside>
      </section>
    </div>
  </section>
  <section id="infos--download-windows">
    <div id="windows">
      <header id="infos--header">
        <h1>Windows downloads</h1>
      </header>
      <section id="infos--content">
        <div id="content--text">
          <p>
            TEST DU TURFU FDP.
          </p>
        </div>
        <aside id="content--extra">
          <span class="icon ic-windows" style="font-size: 90px;"></span>
        </aside>
      </section>
    </div>
  </section>
  <section id="infos--download-osx">
    <div id="osx">
      <header id="infos--header">
        <h1>Mac OSX downloads</h1>
      </header>
      <section id="infos--content">
        <div id="content--text">
          <p>
            TEST DU TURFU FDP.
          </p>
        </div>
        <aside id="content--extra">
          <span class="icon ic-apple" style="font-size: 90px;"></span>
        </aside>
      </section>
    </div>
  </section>
</section>
{% endblock %}
