{% extends '_base.html' %}
{% block content %}
<section id="app--infos">
  <section id="infos--about-ricin">
    <div id="about">
      <header id="infos--header">
        <h1>{% trans %}About Ricin Messenger{% endtrans %}</h1>
        <h2>{% trans %}Ricin aims to be a modern way to securely communicate with people that matter to you.{% endtrans %}</h2>
      </header>
      <section id="infos--content">
        <div id="content--text">
          <p>
            <strong>{% trans %}Whether it's corporations or governments, digital surveillance today is widespread.{% endtrans %}</strong>
          </p>
          <p>
            {% trans %}<strong>Ricin Messenger</strong> is easy-to-use software <em>that connects you with your friends and your family without anyone else listening in</em>. While other big-name services require you to pay for features, <strong>Ricin Messenger is completely free and comes without advertising — forever</strong>.{% endtrans %}
          </p>
        </div>
        <aside id="content--extra">
          <img src="https://cdn.ricin.im/images/ricin-redacted-black.png" width="440px" height="232px" alt="{% trans %}A redacted screenshot of a conversation inside Ricin, with black theme.{% endtrans %}" class="bounce box">
        </aside>
      </section>
    </div>
  </section>
  <section id="infos--about-tox">
    <div>
      <header id="infos--header">
        <h1>{% trans %}About the Tox network{% endtrans %}</h1>
        <h2>{% trans %}What is the Tox network and why is it better than centralized services?{% endtrans %}</h2>
      </header>
      <section id="infos--content">
        <div id="content--text">
          <p>
            {% trans %}<strong>Tox</strong> began a few years ago, <em>in the wake of Edward Snowden's leaks regarding <strong>NSA spying</strong> activity</em>.{% endtrans %}
          </p>
          <p>
            {% trans %}The idea was <strong>to create an instant messaging protocol</strong> that ran <strong>without</strong> any kind of central servers. The system would be <strong>distributed</strong>, <strong>peer-to-peer</strong>, and <strong>encrypted</strong> <strong>end-to-end</strong>, with no way to disable any of the encryption features; at the same time, the protocol would be <strong>easily usable by the layperson</strong> with no practical knowledge of cryptography or distributed systems.{% endtrans %}
          </p>
          <p>
            {% trans %}<em>Fast-forward a few years to today</em>, and there exist several independent <strong>Tox</strong> client projects, and the original <strong>Tox core library</strong> implementation is nearing completion (in terms of features). <strong>Tox</strong> (both core and clients) has <em>thousands of users</em>, <em>hundreds of contributors</em>, and the project shows <em>no sign of slowing down</em>.{% endtrans %}
          </p>
          <p>
            {% trans %}<em>Recently</em>, a group of <em>some of the project's major contributors</em> have formed <strong>The Tox Project</strong>, an organization built around <em>the protection</em>, <em>promotion</em>, and advancement of <strong>Tox</strong> and its development.{% endtrans %}
          </p>
          <p>
            <em>{% trans %}For more informations about <a href="https://tox.chat">The Tox Project</a>, click this link.{% endtrans %}</em>
          </p>
        </div>
        <aside id="content--extra">
          <img src="https://cdn.ricin.im/images/tox-icon-border.svg" width="280px" height="260px" alt="{% trans %}The Tox project logo.{% endtrans %}" class="mobile--hidden bounce">
        </aside>
      </section>
    </div>
  </section>
  <section id="infos--feature-compare">
    <div id="features">
      <header id="infos--header">
        <h1>{% trans %}Ricin Messenger features{% endtrans %}</h1>
        <h2>{% trans %}Why should you use Ricin instead of Skype, Discord or even Telegram?{% endtrans %}</h2>
      </header>
      <section id="infos--content">
        <div id="content--rows">
          <article id="col--instant-messaging">
            <span class="icon ic-comment"></span>
            <h3>{% trans %}Instant messaging{% endtrans %}</h3>
            <p>
              {% trans %}Chat instantly across the globe with Ricin's secure messages.{% endtrans %}
            </p>
          </article>
          <article id="col--voice">
            <span class="icon ic-phone"></span>
            <h3>{% trans %}Voice{% endtrans %}</h3>
            <p>
              {% trans %}Keep in touch with friends and family using Ricin's completely free and encrypted voice calls.{% endtrans %}
            </p>
          </article>
          <article id="col--video">
            <span class="icon ic-video"></span>
            <h3>{% trans %}Video{% endtrans %}</h3>
            <p>
              {% trans %}Catch up face to face, over Ricin's secure video calls.{% endtrans %}
            </p>
          </article>

          <article id="col--screen-sharing">
            <span class="icon ic-desktop"></span>
            <h3>{% trans %}Screen streaming{% endtrans %}</h3>
            <p>
              {% trans %}Share your desktop with your friends with Ricin's secure screen sharing.{% endtrans %}
            </p>
          </article>
          <article id="col--file-sharing">
            <span class="icon ic-file"></span>
            <h3>{% trans %}File transfers{% endtrans %}</h3>
            <p>
              {% trans %}Trade files, with no artificial limits or caps and enhanced security.{% endtrans %}
            </p>
          </article>
          <article id="col--groups">
            <span class="icon ic-group"></span>
            <h3>{% trans %}Group chats{% endtrans %}</h3>
            <p>
              {% trans %}Chat, call, and share video and files with the whole gang in Ricin's group chats.{% endtrans %}
            </p>
          </article>
        </div>
        <aside id="content--extra">
          <img src="https://cdn.ricin.im/images/ricin-redacted-white.png" width="320px" height="169px" alt="{% trans %}A redacted screenshot of a conversation inside Ricin, with white theme.{% endtrans %}" class="bounce box">
        </aside>
      </section>
    </div>
  </section>
  <section id="infos--privacy">
    <div id="privacy">
      <header id="infos--header">
        <h1>{% trans %}Privacy oriented software{% endtrans %}</h1>
        <h2>{% trans %}Ricin is developed with users privacy in mind, we wants you to be safe while chatting!{% endtrans %}</h2>
      </header>
      <section id="infos--content">
        <div id="content--rows">
          <article id="col--encrypted">
            <span class="icon ic-shield hover-rotate"></span>
            <h3>{% trans %}Encrypted{% endtrans %}</h3>
            <p>
              {% trans %}<strong>Everything</strong> you do with <strong>Ricin Messenger</strong> is encrypted using <em>open-source libraries</em>. The only people who can see <strong>your</strong> conversations <em>are the people you're talking with</em>.{% endtrans %}
            </p>
          </article>
          
          <article id="col--distributed">
            <span class="icon ic-cubes hover-rotate-inverse"></span>
            <h3>{% trans %}Distributed{% endtrans %}</h3>
            <p>
              {% trans %}<strong>Ricin has <em>no central servers</em></strong> that can be <em>raided</em>, <em>shut down</em>, or <em>forced to turn over data</em> — <strong>the network is made up of its users</strong>. Say goodbye to server outages!{% endtrans %}
            </p>
          </article>
          <article id="col--free">
            <span class="icon ic-heart hover-rotate"></span>
            <h3>{% trans %}Free!{% endtrans %}</h3>
            <p>
              {% trans %}<strong>Ricin is free software</strong>. That's free as in <strong>freedom</strong>, <em>as well as in price</em>. This means <strong>Ricin is yours</strong> — <em>to use, modify, and share</em> — because <strong>Ricin is developed by and for the users</strong>.{% endtrans %}
            </p>
          </article>
        </div>
      </section>
    </div>
  </section>
</section>
<section id="app--callout-secondary">
  <h1 id="download">{% trans %}So, what are you waiting for?{% endtrans %}</h1>
  <h2>{% trans %}Never ask for privacy, just take it! Download Ricin now, for free!{% endtrans %}</h2>
  <nav id="callout--links">
    {% include '_callout_links.html' %}
  </nav>
</section>
{% endblock %}
